* {
  box-sizing: border-box;
}

.App {
  margin-top: 0;
}

html{
  scroll-behavior: smooth;

}
html,
body {
  /* position: relative; */
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  height: 100%;
}

/* Body */

body {
  text-align: center;
  font-family: 'Tajawal', serif;
  background-image: url(./assets/bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

/* ------------------------------------------------ */

/* Container */

.container {
  text-align: center;
  margin-top: 1rem;
  display: grid;
  height: 80vh;
  /* margin-left: 5%; */
  /* margin-right: 5%; */
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 0.1fr 0.2fr 0.4fr;
  grid-gap: 1rem;
  grid-template-areas:
    'steps steps'
    'apiData ourServices'
    'apiData ourPartners';
}
.setionTitle {
  text-align: right;
  margin-right: 2%;
  margin-top: 2%;
  font-weight: 900;
  font-size: 16px;
}

.content {
  border-radius: 15px;
  background-color: #fff;
}

/* ---------------------------------------------------------------*/

/* Request/Process Section */

#processInfo {
  grid-area: steps;
}

#processInfo > p {
  margin-bottom: 0;
}

/* Override stepper package classes */
.step-circle {
  width: 4em !important;
  height: 3rem !important;
  border: none !important;
}

.step-circle::before {
  height: 1px !important;
  width: 6rem;
}

.step-content {
  margin-right: 2rem;
  margin-left: 2rem;
}

.stepNumber {
  color: white;
  text-align: center;
  font-weight: bold;
  margin-top: 15%;
}

.fancyNum {
  background-color: #524f52;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  font-size: 8px;
}

.stepImg {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #ececec;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Stage description paragraph */
.stepInfo {
  text-align: center;
  font-size: 11px;
  font-weight: 800;
}

.stageIcon {
  width: 25px;
  height: 25px;
  margin-top: 25%;
}

/* Services Section */

#ourServices {
  grid-area: ourServices;
}

.servicesContainer {
  text-align: center;
  display: flex;
  flex-direction: row-reverse;
  align-content: center;
}

.serviceType {
  margin: 2%;
  flex-direction: column;
  width: 30%;
  border-radius: 15px;
  border: 1px solid green;
  background-color: #ececec;
}

.serviceDescription {
  font-size: 1.2em;
  font-weight: bolder;
  margin-top: 1%;
}

#newRequest {
  margin-right: 20%;
}

.imageContainer {
  text-align: center;
}

.serviceImage {
  width: 80px;
  height: 80px;
  margin-top: 5%;
  margin-bottom: 0;
}

.active {
  background-color: #1f7166;
  color: #fff;
}

/* ---------------------------------------------------------------*/

/* API Data Section */

#apiData {
  grid-area: apiData;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

/* ---------------------------------------------------------------*/

/* Our Partners Section */

#ourPartners {
  grid-area: ourPartners;
  margin-top: 0;
  /* height: 70%; */
  padding-bottom: 3%;
  display: flex;
  flex-direction: column;
}

#iconsContainer {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  /* margin-top: 0; */
  margin-right: 30px;
  margin-left: 30px;
  height: 100%;
}
.box {
  width: 80px;
  height: 70px;
}


/* ---------------------------------------------------------------*/

/* Media query */

@media only screen and (max-width: 772px) {
  .step-circle::before {
    width: 3rem !important;
  }
  .step-content {
    margin-right: 10px;
    margin-left: 10px;
  }

  /* .stageIcon{
    margin-top: 5%;
  }
  .fancyNum {
    background-color: #524f52;
    border-radius: 50%;
    width: 14px;
    font-size: small;
  }
  
  .stepImg {
    width: 30px !important;
    height: 30px !important;
  } */

  /* Process */

  .stepInfo {
    font-size: 9px;
  }

  /* ................... */

  body {
    height: 100vh !important;
    background-image: url(./assets/bg.png);
    background-repeat: repeat-y;
    background-size: 100%;
    /* display: flex; */
    /* flex-direction: column; */
  }

  .app,
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .container {
    width: 100vw;
    height: 100vh;
    margin-bottom: 5vh;
  }
.app{
  min-height: 100vh;

}
  #processInfo,
  #ourServices,
  #ourPartners,
  #apiData {
    margin-left: 2%;
    margin-right: 2%;
  }

  .setionTitle {
    font-size: 12px;
  }
  /* API Section */
  #apiData {
    order: 2;
  }
  #apiData p {
    padding-top: 20%;
    padding-bottom: 20%;
  }

  /* Our Partners Section */
  #ourPartners {
    order: 3;
  }

  /* Process Section */

  /* Services Section */

  #ourServices {
    background-color: rgba(255, 255, 255, 0);
  }
  #ourServices .setionTitle {
    display: none;
  }

  .servicesContainer {
    /* flex-direction: row-reverse; */
  }
  .serviceType {
    width: 45%;
  }

  #newRequest {
    margin-right: auto;
  }

  /* Partners Section */

  #partnersTitle {
    text-align: center;
  }

  .box {
    width: 50px;
    height: 50px;
  }

  #iconsContainer {
    justify-content: space-evenly;
    margin-right: 0;
    margin-left: 0;
  }
}

/* end of media query */

@media only screen and (min-width: 773px) and (max-width: 994px) {
  .step-circle::before {
    width: 2rem;
  }

  .step-content {
    margin-right: 10px;
    margin-left: 10px;
  }
}
