* {
  box-sizing: border-box;
}

.App {
  margin-top: 0;
}

html,
body {
  position: relative;
  margin: 0;
  padding: 0;
  /* overflow:auto;  */
  height: 100%;
}
/* Body */

body {
  margin: 0;
  text-align: center;
  /* align-items: center; */
  font-family: 'Tajawal', serif;
  background-image: url(./assets/bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

/* Navbar */

nav {
  background-color: red;
  height: 10vh;
}

/* ------------------------------------------------ */

/* Container */

.container {
  text-align: center;
  margin-top: 1rem;
  display: grid;
  height: 80vh;
  margin-left: 10%;
  margin-right: 10%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.2fr 0.2fr 0.4fr;
  grid-gap: 1rem;
  grid-template-areas:
    'steps steps'
    'apiData ourServices'
    'apiData ourPartners';
}
.setionTitle {
  text-align: right;
  margin-right: 3%;
  font-weight: 900;

}

.content {
  border-radius: 15px;
  background-color: #fff;
}

/* Request Journey Section */

#steps {
  grid-area: steps;
}

/* Services Section */

#ourServices {
  grid-area: ourServices;
}

.servicesContainer {
  text-align: center;
  display: flex;
  flex-direction: row-reverse;
  align-content: center;
}

.serviceType {
  margin: 2%;
  flex-direction: column;
  width: 30%;
  border-radius: 15px;
  border: 1px solid green;
}

.serviceDescription {
  font-size: 1.2em;
  font-weight: bolder;
  margin-top: 1%;
}

#newRequest {
  margin-right: 20%;
}

.imageContainer {
  text-align: center;
}

.serviceImage {
  width: 80px;
  height: 80px;
  margin-top: 5%;
  margin-bottom: 0;
}

/* API Data Section */

#apiData {
  grid-area: apiData;
  height: 100%;
}

/* Our Partners Section */

#ourPartners {
  grid-area: ourPartners;
  margin-top: 0;
  height: 70%;
  display: flex;
  flex-direction: column;
}

#iconsContainer {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  /* margin-top: 0; */
  margin-right: 30px;
  margin-left: 30px;
  height: 100%;
}
.box {
  width: 80px;
  height: 70px;
}

/* Media query */
@media only screen and (max-width: 700px) {
  /* Services Section */

  #ourServices {
    background-color: rgba(255, 255, 255, 0);
  }
  #ourServices .setionTitle {
    display: none;
  }
  .serviceType {
    width: 50%;
    height: 40%;
  }

  #newRequest {
    margin-right: auto;
  }
  .servicesContainer {
    width: 100%;
  }

  /* Partners Section */
  #ourPartners {
    /* background-color: lawngreen; */
  }

  #partnersTitle {
    text-align: center;
  }

  .box {
    width: 50px;
    height: 50px;
  }

  #iconsContainer {
    justify-content: space-evenly;
    margin-right: 0;
    margin-left: 0;
  }

  /* Main container */

  .container {
    margin-left: 2%;
    margin-right: 2%;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr, 0.2fr, 0.8fr, 0.2fr;
    grid-template-areas:
      'steps'
      'ourServices'
      'apiData'
      'ourPartners';
  }

  #apiData {
    height: 60vh;
  }
  .footer {
    /* position:fixed !important; */
    font-size: 0.5rem;
  }

  #linksContainer{
    gap:10px !important;
  }
  
  .footer{
    gap:20px !important;
  }

  #copyright,
 #linksContainer {
  margin-bottom: 5px;
}

#copyright{
  margin-right:5px;
}

.icons{
  width:10px;
  height: 10px;
  margin-left: 2px !important;
  margin-right: 2px !important;
}
}

/* end of media query */

/* ------------------------------------------------ */
/* Footer */
.footer {
  /* height: 4vh; */
  /* background-color: #1f7166;
  color: white; */
  /* position: relative;
  left: 0;
  bottom: 0;
  width: 100%; */

  /* 
  clear: both;
  position: relative;
  z-index: 10;
  height: 3em;
  margin-top: -3em; */
  background-color: #1f7166;
  color: white;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100vw;
  min-height: 3vh;
  font-family: 'Tajawal', serif;
  font-size: medium;
}

.icons {
  width: 25px;
  height: 25px;
  margin-left: 5px;
  margin-right: 5px;
}

#copyright,
.footer #linksContainer {
  margin-top: 10px;
}

#linksContainer{
  gap:5px;
}

.footer{
  gap:60%;
}
