* {
  box-sizing: border-box;
}

.App {
  margin-top: 0;
}

html,
body {
  position: relative;
  margin: 0;
  padding: 0;
  /* overflow:auto;  */
  height: 100%;
}
/* Body */

body {
  margin: 0;
  text-align: center;
  /* align-items: center; */
  font-family: 'Tajawal', serif;
  background-image: url(./assets/bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

/* Navbar */

nav {
  background-color: red;
  height: 10vh;
}

/* ------------------------------------------------ */

/* Container */

.container {
  text-align: center;
  margin-top: 1rem;
  display: grid;
  height: 80vh;
  margin-left: 10%;
  margin-right: 10%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.2fr 0.2fr 0.4fr;
  grid-gap: 1rem;
  grid-template-areas:
    'steps steps'
    'apiData ourServices'
    'apiData ourPartners';
}
.setionTitle {
  text-align: right;
  margin-right: 3%;
  font-weight: 900;
}

.content {
  border-radius: 15px;
  background-color: #fff;
}

/* Request Journey Section */

#processInfo {
  grid-area: steps;
}

/* Services Section */

#ourServices {
  grid-area: ourServices;
}

.servicesContainer {
  text-align: center;
  display: flex;
  flex-direction: row-reverse;
  align-content: center;
}

.serviceType {
  margin: 2%;
  flex-direction: column;
  width: 30%;
  border-radius: 15px;
  border: 1px solid green;
  background-color: #ececec;
}

.serviceDescription {
  font-size: 1.2em;
  font-weight: bolder;
  margin-top: 1%;
}

#newRequest {
  margin-right: 20%;
}

.imageContainer {
  text-align: center;
}

.serviceImage {
  width: 80px;
  height: 80px;
  margin-top: 5%;
  margin-bottom: 0;
}

.active{
  background-color:#1f7166;
  color: #fff;
}

/* API Data Section */

#apiData {
  grid-area: apiData;
  height: 100%;
}

/* Our Partners Section */

#ourPartners {
  grid-area: ourPartners;
  margin-top: 0;
  /* height: 70%; */
  padding-bottom: 3%;
  display: flex;
  flex-direction: column;
}

#iconsContainer {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  /* margin-top: 0; */
  margin-right: 30px;
  margin-left: 30px;
  height: 100%;
}
.box {
  width: 80px;
  height: 70px;
}

/* Media query */
@media only screen and (max-width: 700px) {
 

  



  .app,
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .container {
    width: 100vw;
    margin-left: 0;
    margin-right: 0;
  }

  #ourServices,
  #ourPartners,
  #apiData {
    /* width:100vw; */
    margin-left: 2%;
    margin-right: 2%;
  }

  #apiData {
    order: 2;
  }
  #ourPartners {
    order: 3;
  }

  /* Services Section */

  #ourServices {
    background-color: rgba(255, 255, 255, 0);
  }
  #ourServices .setionTitle {
    display: none;
  }

  .servicesContainer {
    /* flex-direction: row-reverse; */
  }
  .serviceType {
    width: 45%;
  }

  #newRequest {
    margin-right: auto;
  }


  /* Partners Section */
  
  #partnersTitle {
    text-align: center;
  }

  .box {
    width: 50px;
    height: 50px;
  }

  #iconsContainer {
    justify-content: space-evenly;
    margin-right: 0;
    margin-left: 0;
  } 


  /* Footer Res. */
  .footer {
    font-size: 0.5rem;
  }

  #linksContainer {
    gap: 10px !important;
  }

  .footer {
    gap: 20px !important;
  }

  #copyright,
  #linksContainer {
    margin-bottom: 5px;
  }

  #copyright {
    margin-right: 5px;
  }

  .icons {
    width: 10px;
    height: 10px;
    margin-left: 2px !important;
    margin-right: 2px !important;
  }
}

/* end of media query */

/* ------------------------------------------------ */
/* Footer */
.footer {
  background-color: #1f7166;
  color: white;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100vw;
  min-height: 3vh;
  font-family: 'Tajawal', serif;
  font-size: medium;
}

.icons {
  width: 25px;
  height: 25px;
  margin-left: 5px;
  margin-right: 5px;
}

#copyright,
.footer #linksContainer {
  margin-top: 10px;
}

#linksContainer {
  gap: 5px;
}

.footer {
  gap: 60%;
}

/* ..................................................................... /
/* Process Info */

#processInfo {
  /* width: 90vw; */
  /* border-radius: 15px; */
  height: 15vh;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

/* Main stage containers */

.detailedStage {
  display: flex;
  flex-direction: row-reverse;
}

.singleStep {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  /* background-color: violet; */
  margin-left: 10px;
  width: 100%;
  margin-left: 0px;
}

/* Connectors between stages */

.splitter {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  /* background-color: yellowgreen; */
}

.line {
  height: 5px;
  background-color: #ececec;
  width: 70px;
  display: inline;
  margin-bottom: 80%;
}

.connector {
  height: 5px;
  background-color: #ececec;
  width: 30px;
  margin-left: 0;
  margin-right: 0;
  padding-right: 0;
  padding-left: 0;
  margin-top: 30px;
}

/* Step Number + image container */
.visualData {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
.stepNumber {
  color: white;
  text-align: center;
  font-weight: bold;
}

.fancyNum {
  background-color: #524f52;
  border-radius: 50%;
  width: 18px;
  font-size: small;
}

.stepImg {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #ececec;
  text-align: center;
}

/* Stage description paragraph */
.stepInfo {
  text-align: center;
}
